{% extends 'base.html' %}           
{% block title %}BUS CONTACT{%  endblock title %}
{% block body  %}

<div class="bg-dark">
<div class="container mt-5">
<div class="row">
        
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <img src="static/images/vo1.png" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">VOLVO City Bus</li>
      <li class="list-group-item">VOLVO 8400</li>
      <li class="list-group-item">VOLVO 9400</li>
    </ul>
    <div class="card-body bg-info">
      <h4 class="card-title">VOLVO</h4>
    </div>
    <div class="d-grid mx-auto">
    <div class="card-body">
      <a href="/ticket"><button type="submit" class="btn btn-primary btn-sm btn-block mt-3">Book Volvo Bus</button></a>
      <br>
      <br>
      <br>
      <a href="https://www.volvobuses.com/en/contact/contact-us.html" target="_blank" class="card-link">Contact Us</a>
      <a href="https://www.volvobuses.com/en/why-volvo/this-is-volvo-buses.htm" target="_blank" class="card-link">About Us</a>
    </div>
    </div>
    </div>
  </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <img src="static/images/tata1.jpg" class="card-img-top" alt="...">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">STARBUS</li>
          <li class="list-group-item">STARBUS ULTRA</li>
          <li class="list-group-item">CITYRIDE</li>
        </ul>
        <div class="card-body bg-info">
          <h4 class="card-title">TATA MOTORS</h4>
        </div>
        <div class="d-grid mx-auto">
         <!--gap-2 col-4 --> 

        <div class="card-body">
          <a href="/ticket"><button type="submit" class="btn btn-primary btn-sm btn-block mt-3">Book Tata Motors Bus</button></a>
         <br>
         <br>
         <br>
          <a href="https://www.buses.tatamotors.com/contact-tata-motors/tata-motors-office-addresses/" target="_blank" class="card-link">Contact Us</a>
          <a href="https://www.buses.tatamotors.com/about-tata-motors/overview/" target="_blank" class="card-link">About Us</a>
        </div>
        </div>
        </div>

      </div>


        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="static/images/bha.png" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Bharatbenz 1014</li>
              <li class="list-group-item">Bharatbenz 1017</li>
              <li class="list-group-item">Bharatbenz 9T Tourist Bus</li>
            </ul>
            <div class="card-body bg-info">
              
              <h4 class="card-title">BHARAT BENZ</h4>
            </div>
            <div class="d-grid mx-auto">
          
            <div class="card-body">
              <br>
              <a href="/ticket"><button type="submit" class="btn btn-primary btn-sm btn-block mt-3">Book Bharat Benz Bus</button></a>
               <br>
               <br>
               <br>
              <a href="https://www.bharatbenz.com/contact-us" target="_blank" class="card-link">Contact Us</a>
              <a href="https://www.bharatbenz.com/about-us" target="_blank" class="card-link">About Us</a>
          
            </div>
            </div>
            </div>
          </div>
          </div>

    
{% endblock body  %}




