{% extends 'base.html' %}           
{% block title %}FINAL BUS BOOKING DETAILS{%  endblock title %}
{% block body  %}

<br>
{% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
  </div>



    {% endfor %}
    {% endif %}
    {% endwith %}

<br>
    <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Bus_Id</th>
            <th scope="col">Bus_Name</th>
            <th scope="col">Bus_Company</th>
            <th scope="col">Bus_Type</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Depature_Time</th>
            <th scope="col">Arrival_Time</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
        
        {% for post in query %}
            <tr>
            <th scope="row">{{post.bbusno}}</th>
            <td>{{post.bbusname}}</td>
            <td>{{post.bbuscomp}}</td>
            <td>{{post.bbustype}}</td>
            <td>{{post.bsource}}</td>
            <td>{{post.bdest}}</td>
            <td>{{post.bdept}}</td>
            <td>{{post.barrival}}</td>
            <td>{{post.bprice}}</td>
          </tr>
          <tr>
        {% endfor %}


        </tbody>
      </table>    

    
{% endblock body  %}