{% extends 'base.html' %}           
{% block title %}Confirm Booking{%  endblock title %}
{% block body  %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-3">
        <br>
    <h4 class="text-center bg-danger text-white">Confirm Your Bookings</h4>
        <br>
        
        <form action="/finalbooking/{{posts.busno}}" method="POST">           

    

        <div class="form-group mt-3">
            <label for="busno" class="form-label">Bus Number</label>
            <input type="text" class="form-control" id="busno" name="busno" value={{posts.busno}} placeholder="Bus Number" readonly  required>
        
        </div>

        <div class="form-group mt-3">
            <label for="busname" class="form-label">Bus Name</label>
            <input type="text" class="form-control" id="busname" name="busname" value={{posts.busname}} placeholder="Bus Name" readonly required>
        
        </div>

        <div class="form-group mt-3">
            <label for="buscomp" class="form-label">Bus Company</label>
            <input type="text" class="form-control" id="buscomp" name="buscomp" value={{posts.buscomp}} placeholder="Bus Company" readonly required>
        
        </div>
        
        

        <div class="form-group mt-3">         
            <label for="bustype" class="form-label">Bus Type</label>
        <select class="form-control" id="bustype" name="bustype"  required>
                <option selected>{{posts.bustype}}</option>
                <option value="AC">AC</option>
                <option value="AC-Sleeper">AC-Sleeper</option>
                <option value="Sleeper">Sleeper</option>
        
            </select>
        </div>

        <div class="form-group mt-3">
            <label for="source" class="form-label">Source</label>
            <input type="text" class="form-control" id="source" name="source" value={{posts.source}} placeholder="Source" readonly required>
        
        </div>

        <div class="form-group mt-3">
            <label for="dest" class="form-label">Destination</label>
            <input type="text" class="form-control" id="dest" name="dest" value={{posts.dest}} placeholder="Destination" readonly required>
        
        </div>

        
        <div class="form-group mt-3">
            <label for="dept" class="form-label">Departure Time</label>
            <input type="text" class="form-control" id="dept" name="dept" value={{posts.dept}} placeholder="Departure" readonly required>
        
        </div>

        <div class="form-group mt-3">
            <label for="arrival" class="form-label">Arrival Time</label>
            <input type="text" class="form-control" id="arrival" name="arrival" value={{posts.arrival}} placeholder="Arrival" readonly required>
        
        </div>

        <div class="form-group mt-3">
            <label for="price" class="form-label">Booking Price</label>
            <input type="text" class="form-control" id="price" name="price" value={{posts.price}} placeholder="Price" readonly required>
        
        </div>
        
        <button type="submit" class="btn btn-warning btn-sm btn-block mt-3">Confirm</button>

        </form>



    </div>

    <div class="col-md-4"></div>
</div>







{% endblock body  %}