{% extends 'base.html' %}           
{% block title %}LOGIN{%  endblock title %}
{% block body  %}
<div class="container  mt-4">

    <div class="row">
    
    <div class="col-md-4"></div>
    
    
    <div class="col-md-4">
        
       <h4 class="text-center bg-success text-white">Login</h4>
        <br>
        {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}

          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
      </div>


        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/login" method="post">
      
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
    
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
    
            <button type="submit" class="btn btn-success btn-sm btn-block">Login</button>
        </form>
        
        <br>
        Create a new account <a href="/signup"> Signup</a>

    </div>
    
    <div class="col-md-4"></div>
    
    </div>
    
    </div>
    
{% endblock body  %}